@tailwind base;
@tailwind components;
@tailwind utilities;




.section.colored {
  background: #f2f2fe;
}



strong {
  background: -webkit-linear-gradient(#7c8fe3, #0b3fc1);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.center-text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #484545;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 50px;
}









a {
  text-decoration: none !important;
}


strong {
  background: -webkit-linear-gradient(#eee, #0249d7);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}



.center-text p {
  font-size: 15px;
  color: #777;
  margin-bottom: 30px;
}






a.main-button-slider {
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #585c7c;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a.main-button-slider:hover {
  background-color: #8261ee;
  scale: 1.05;
}

a.main-button {
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #8261ee;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a.main-button:hover {
  background-color: #ff589e;
}

button.main-button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 13px;
  border-radius: 20px;
  padding: 12px 20px;
  background-color: #8261ee;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

button.main-button:hover {
  background-color: #ff589e;
}